@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: "Google Sans", sans-serif;
    line-height: 1.6;
}

:root {
    --bg: #FFFAF0;
    --text: #333333;
    --button: #20C997;
    --card: #F5F5F5;
}

html, body {
    background-color: var(--bg);
    color: var(--text);
}

/* Header */
header {
    text-align: center;
    padding: 2rem;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

header p {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Container */
section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--card);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    padding: 1rem;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 1rem;
}


.container .image {
    position: relative;
    border-radius: 1rem;
    padding: 0.2rem;
    background-color: var(--text);
}

.container .image .preview {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.container .image .preview:hover {
    transform: scale(1.2);
}

.container .image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.container .content {
    background-color: var(--button);
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
}

.container .content:hover {
    transform: scale(0.9);
}

.container .content p {
    font-size: 1.2rem;
    font-weight: 700;
}

/* Footer */
footer {
    text-align: center;
    background-color: var(--button);
    padding: 0.5rem;
}

footer p {
    font-size: 1rem;
    font-weight: 700;
}


/* Responsive */
/* Mobile (≤ 600px) */
@media (max-width: 600px) {
    html, body {
        font-size: 70%;
    }
}

/* Tablet (601px – 900px) */
@media (min-width: 601px) and (max-width: 900px) {
    html, body {
        font-size: 80%;
    }
}

/* Laptop (901px – 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
    html, body {
        font-size: 100%;
    }
}

/* Desktop (≥ 1201px) */
@media (min-width: 1201px) {
    html, body {
        font-size: 100%;
    }
}